apiVersion: apps/v1
kind: Deployment
metadata:
  name: smartdine-deployment
  namespace: "smartdine"
spec:
  replicas: 1
  selector:
    matchLabels:
      app: smartdine
  template:
    metadata:
      labels:
        app: smartdine
    spec:
      imagePullSecrets:
        - name: nexus-pull-secret

      containers:
        - name: smartdine
          # Using IP address for Registry to bypass DNS/Certificate issues
          image: 10.43.210.159:8085/krushna-project/smartdine-pos:latest
          
          imagePullPolicy: Always

          ports:
            - containerPort: 3000

          env:
            - name: NODE_ENV
              value: "production"
            
            - name: PORT
              value: "3000"

            - name: MONGO_URI
              valueFrom:
                secretKeyRef:
                  name: smartdine-secrets
                  key: MONGO_URI

            - name: JWT_SECRET
              valueFrom:
                secretKeyRef:
                  name: smartdine-secrets
                  key: JWT_SECRET
          
          livenessProbe:
            httpGet:
              path: /
              port: 3000
            initialDelaySeconds: 60
            periodSeconds: 20
          
          readinessProbe:
            httpGet:
              path: /
              port: 3000
            initialDelaySeconds: 20
            periodSeconds: 10