# k8s-deployment/smartdine-deployment.yaml
apiVersion: apps/v1
kind: Deployment
metadata:
  name: smartdine-deployment
  labels:
    app: smartdine
spec:
  replicas: 1
  selector:
    matchLabels:
      app: smartdine
  template:
    metadata:
      labels:
        app: smartdine
    spec:
      # <-- add imagePullSecrets here so pods explicitly use the registry secret
      imagePullSecrets:
      - name: nexus-pull-secret

      containers:
      - name: smartdine
        # Jenkins replaces :latest with build tag (sed in pipeline)
        image: 10.43.21.172:8085/krushna-project/smartdine-pos:latest
        imagePullPolicy: IfNotPresent
        ports:
        - containerPort: 3000
          name: http
        env:
        - name: NODE_ENV
          value: "production"
        readinessProbe:
          httpGet:
            path: /
            port: http
          initialDelaySeconds: 5
          periodSeconds: 10
          failureThreshold: 3
        livenessProbe:
          httpGet:
            path: /
            port: http
          initialDelaySeconds: 30
          periodSeconds: 20
          failureThreshold: 3
        resources:
          requests:
            memory: "128Mi"
            cpu: "100m"
          limits:
            memory: "512Mi"
            cpu: "500m"

---
apiVersion: v1
kind: Service
metadata:
  name: smartdine-service
  labels:
    app: smartdine
spec:
  selector:
    app: smartdine
  ports:
    - protocol: TCP
      port: 80
      targetPort: 3000
  type: ClusterIP
