apiVersion: apps/v1
kind: Deployment
metadata:
  name: smartdine-deployment
  namespace: smartdine
  labels:
    app: smartdine
spec:
  replicas: 1
  selector:
    matchLabels:
      app: smartdine
  template:
    metadata:
      labels:
        app: smartdine
    spec:
      imagePullSecrets:
      - name: nexus-pull-secret
      containers:
      - name: smartdine
        image: nexus-service-for-docker-hosted-registry.nexus.svc.cluster.local:8085/krushna-project/smartdine-pos:latest
        imagePullPolicy: Always
        ports:
        - containerPort: 3000
          name: http
        env:
        - name: NODE_ENV
          value: "production"
        readinessProbe:
          httpGet:
            path: /
            port: http
          initialDelaySeconds: 10
          periodSeconds: 10
          failureThreshold: 3
        livenessProbe:
          httpGet:
            path: /
            port: http
          initialDelaySeconds: 30
          periodSeconds: 20
          failureThreshold: 3
        resources:
          requests:
            memory: "128Mi"
            cpu: "100m"
          limits:
            memory: "512Mi"
            cpu: "500m"
---
apiVersion: v1
kind: Service
metadata:
  name: smartdine-service
  namespace: smartdine
  labels:
    app: smartdine
spec:
  selector:
    app: smartdine
  ports:
    - protocol: TCP
      port: 80
      targetPort: 3000
  type: ClusterIP
